@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Epilogue";
}

.container {
  height: 100vh;
}

.middleImg {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 33.5rem;
  height: 33.5rem; */
  margin-top: -400px; /* Half the height */
  margin-left: -300px; /* Half the width */
  /* translate: (-50%, -50%); */
  transform: scale(0.9);
}

.commingsoon {
  /* margin-top: 9.375rem; */
  margin: auto;
}
/* h1 {
  font-weight: 900;
  font-size: 12.5rem;
  line-height: 12.8125rem;


  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.092) 20.49%,
    rgba(255, 255, 255, 0) 92.44%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  backdrop-filter: blur(1.25rem);
} */

.textg {
  font-weight: 900;
  font-size: 200px;
  line-height: 12.8125rem;
  color: transparent;
  -webkit-text-stroke: 0.125rem #ffffff;
  /*background: linear-gradient(to right, #ff00cc, #3333cc);
  background-clip: text;
  text-shadow: 0.125rem 0.125rem #ff00cc, -0.125rem -0.125rem #3333cc; */
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: 6.25rem;
  background: #f3f3f3;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #1a1a1a;
  text-align: center;
  margin-top: auto;
}
/* marquee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
} */

span {
  margin: 0rem 2.625rem 0rem 2.625rem;
}

/* new styles  */
main {
  min-height: 90vh;
}
.top-banner {
  background: linear-gradient(
    82.82deg,
    #9747ff 1.56%,
    #f61202 57.29%,
    #ffd018 100%
  );
  /* width: 100%; */
  max-height: 446px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 2rem;
  position: relative;
}

.tapop-logo {
  /* position: absolute; */
  align-self: flex-start;
}
.baloon {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-class {
  display: flex;
  justify-content: center;
  padding-top: 2.875rem;
}

.textContainer {
  margin-top: 12.188rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigText {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 2.5625rem;
  text-align: center;
  color: #1a1a1a;
  /* margin-top: 2rem; */
}

.smallText {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2.25rem;
  text-align: center;
  color: #1a1a1a;
  max-width: 799px;
  padding-top: 2.5rem;
}

@media all and (max-width: 600px) {
  .tapop-logo {
    height: 3.125rem;
  }
  .top-banner {
    min-height: 204px;
  }
  .baloon {
    top: 90%;
    height: 15rem;
  }
  .smallText {
    max-width: 320px;
  }
  .bigText {
    font-size: 1.75rem;
  }
}
